/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 11px; font-family: Arial, sans-serif; line-height: 1.45; color: #666666; }
body ::selection { background: #b8e2ff; }
body ::-moz-selection { background: #b8e2ff; }

a { text-decoration: none; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { margin: 0 0 -62px; padding: 0 10px; position: relative; min-height: 100%; height: auto !important; height: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262729), color-stop(100%, #e1e4e7)); background-image: -webkit-linear-gradient(#262729, #e1e4e7); background-image: -moz-linear-gradient(#262729, #e1e4e7); background-image: -o-linear-gradient(#262729, #e1e4e7); background-image: linear-gradient(#262729, #e1e4e7); }

.l-container { margin: 0 auto; width: 978px; }

.push { height: 62px; }

.header { padding: 25px 0 0; *zoom: 1; color: white; }
.header:after { content: " "; display: table; clear: both; }

.header__logo { margin: 0 0 15px; float: left; background: url('../img/icons-s54b8e3a236.png') 0 0 no-repeat; width: 215px; height: 48px; font: 0/0 a; text-shadow: none; color: transparent; }

.header__nav { float: left; margin-top: 23px; font-size: 0; }
.header__nav a { display: inline-block; margin-left: 26px; color: white; font-size: 11px; text-decoration: none; }
.header__nav a:hover, .header__nav a.is-active { color: #00adef; }

.header__tel { float: right; margin-top: 3px; }
.header__tel span { display: block; font-size: 14px; }

.header__subnav { border-top: 1px solid #4b4b4b; padding: 14px 0 15px; clear: both; font-size: 0; text-align: center; }
.header__subnav a { display: inline-block; color: #9e9e9f; font-size: 11px; margin-left: 22px; }
.header__subnav a:first-child { margin-left: 0; }
.header__subnav a:hover, .header__subnav a.is-active { color: #00adef; }

.main { background: white; }

.footer { position: relative; padding: 22px 0 25px; z-index: 2; margin: 0 auto; width: 978px; *zoom: 1; color: #6b6b6c; }
.footer:after { content: " "; display: table; clear: both; }

.footer__copy { float: left; }

.footer__nav { float: right; font-size: 0; }
.footer__nav a { display: inline-block; position: relative; margin-left: 28px; font-size: 11px; color: #6b6b6c; }
.footer__nav a:before { content: "|"; position: absolute; top: 0; left: -14px; }
.footer__nav a:first-child:before { display: none; }
.footer__nav a:hover, .footer__nav a.is-active { color: #0f3f6f; }

.about { padding: 35px 20px 10px; }

.spec-offer { margin: 6px 0 32px; }
.spec-offer a { position: relative; display: inline-block; padding-left: 13px; color: #003366; font-weight: bold; }
.spec-offer a:before { content: ""; position: absolute; left: 0; top: 4px; background: url('../img/icons-s54b8e3a236.png') 0 -150px no-repeat; width: 4px; height: 6px; }
.spec-offer a:hover { color: #00adef; }
.spec-offer a:hover:before { background-position: 0 -134px; }

.contacts p { margin-bottom: 17px; }
.contacts a { color: #00adef; }

.contacts__title { margin-bottom: 6px; font-weight: bold; }
.contacts__title i { display: inline-block; margin-right: 7px; }

.icon-pin { background: url('../img/icons-s54b8e3a236.png') 0 -110px no-repeat; width: 11px; height: 14px; vertical-align: middle; }

.icon-clock { background: url('../img/icons-s54b8e3a236.png') 0 -88px no-repeat; width: 12px; height: 12px; }

.slider { overflow: hidden; }

.slider__item { height: 434px; overflow: hidden; }

.pager { position: absolute; bottom: 29px; left: 44px; z-index: 300; }
.pager button { display: inline-block; position: relative; vertical-align: middle; margin-right: 15px; width: 12px; height: 12px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #3b3b3b; }
.pager button:before { content: ""; position: absolute; top: 50%; left: -15px; width: 15px; height: 1px; background: #3b3b3b; }
.pager button:first-child:before { display: none; }
.pager .is-active { background: #00adef; }

.article p { margin-bottom: 17px; }
.article ul { margin: 17px 0; }
.article li { position: relative; margin-bottom: 11px; padding-left: 21px; }
.article li:before { content: ""; position: absolute; left: 6px; top: 5px; width: 3px; height: 3px; background: #a8a8a8; }

.l-cols { *zoom: 1; }
.l-cols:after { content: " "; display: table; clear: both; }
.l-cols .l-col1 { float: left; width: 270px; }
.l-cols .l-col2 { float: left; margin-left: 30px; width: 410px; }
.l-cols .l-col3 { float: right; width: 190px; }
