/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 11px; font-family: Arial, sans-serif; line-height: 1.45; color: #666666; }
body ::selection { background: #b8e2ff; }
body ::-moz-selection { background: #b8e2ff; }

a { text-decoration: none; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { margin: 0 0 -62px; padding: 0 10px; position: relative; min-height: 100%; height: auto !important; height: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262729), color-stop(100%, #e1e4e7)); background-image: -webkit-linear-gradient(#262729, #e1e4e7); background-image: -moz-linear-gradient(#262729, #e1e4e7); background-image: -o-linear-gradient(#262729, #e1e4e7); background-image: linear-gradient(#262729, #e1e4e7); }

.l-container { margin: 0 auto; width: 978px; }

.push { height: 62px; }

.header { padding: 25px 0 0; *zoom: 1; color: white; }
.header:after { content: " "; display: table; clear: both; }

.header__logo { margin: 0 0 15px; float: left; background: url('../img/icons-s01c95b3139.png') 0 0 no-repeat; width: 215px; height: 48px; font: 0/0 a; text-shadow: none; color: transparent; }

.header__nav { float: left; margin-top: 23px; font-size: 0; }
.header__nav a { display: inline-block; margin-left: 26px; color: white; font-size: 11px; text-decoration: none; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.header__nav a:hover, .header__nav a.is-active { color: #00adef; }

.header__tel { float: right; margin-top: 3px; }
.header__tel span { display: block; font-size: 14px; }

.header__subnav { border-top: 1px solid #4b4b4b; padding: 14px 0 15px; clear: both; font-size: 0; text-align: center; }
.header__subnav a { display: inline-block; color: #9e9e9f; font-size: 11px; margin-left: 22px; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.header__subnav a:first-child { margin-left: 0; }
.header__subnav a:hover, .header__subnav a.is-active { color: #00adef; }

.main { padding: 16px 15px 40px; background: white; }

.footer { position: relative; padding: 22px 0 25px; z-index: 2; margin: 0 auto; width: 978px; *zoom: 1; color: #6b6b6c; }
.footer:after { content: " "; display: table; clear: both; }

.footer__copy { float: left; }

.footer__nav { float: right; font-size: 0; }
.footer__nav a { display: inline-block; position: relative; margin-left: 28px; font-size: 11px; color: #6b6b6c; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.footer__nav a:before { content: "|"; position: absolute; top: 0; left: -14px; }
.footer__nav a:first-child:before { display: none; }
.footer__nav a:hover, .footer__nav a.is-active { color: #0f3f6f; }

.nav { padding: 20px 0 26px; *zoom: 1; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-25%, #222327), color-stop(125%, #4f5254)); background-image: -webkit-linear-gradient(bottom, #222327 -25%, #4f5254 125%); background-image: -moz-linear-gradient(bottom, #222327 -25%, #4f5254 125%); background-image: -o-linear-gradient(bottom, #222327 -25%, #4f5254 125%); background-image: linear-gradient(bottom, #222327 -25%, #4f5254 125%); }
.nav:after { content: " "; display: table; clear: both; }

.nav__item { float: left; width: 130px; margin-left: 20px; }

.nav__img { display: block; margin-bottom: 10px; height: 66px; overflow: hidden; position: relative; }
.nav__img imgf { max-width: 100%; max-height: 100%; height: auto; vertical-align: middle; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38); }
.nav__img:hover .nav__text { visibility: visible; top: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.nav__link { position: relative; padding-left: 13px; color: #b4b4b4; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav__link:hover { color: white; }
.nav__link:hover:before { background-position: 0 -209px; }
.nav__link:before { content: ""; position: absolute; top: 4px; left: 0; background: url('../img/icons-s01c95b3139.png') 0 -193px no-repeat; width: 4px; height: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.nav__text { position: absolute; top: 66px; right: 0; left: 0; bottom: 0; padding: 0 11px; line-height: 66px; text-align: left; background: rgba(255, 255, 255, 0.85); visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav__text span { display: inline-block; vertical-align: middle; line-height: 1.3; color: #5b5b5b; }

.price { display: inline-block; padding: 0 17px; height: 60px; line-height: 60px; color: white; font-size: 14px; font-weight: bold; background: #79c5e1; }

.link-more { display: inline-block; padding-left: 10px; position: relative; color: #003366; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.link-more:before { content: ""; position: absolute; left: 0; top: 4px; background: url('../img/icons-s01c95b3139.png') 0 -177px no-repeat; width: 4px; height: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.link-more:hover { color: #00adef; }
.link-more:hover:before { background: url('../img/icons-s01c95b3139.png') 0 -161px no-repeat; width: 4px; height: 6px; }

.about { padding: 35px 20px 10px; background: white; }

.spec-offer { margin: 6px 0 32px; }
.spec-offer a { position: relative; display: inline-block; padding-left: 13px; color: #003366; font-weight: bold; }
.spec-offer a:before { content: ""; position: absolute; left: 0; top: 4px; background: url('../img/icons-s01c95b3139.png') 0 -177px no-repeat; width: 4px; height: 6px; }
.spec-offer a:hover { color: #00adef; }
.spec-offer a:hover:before { background-position: 0 -161px; }

.contacts p { margin-bottom: 17px; }
.contacts a { color: #00adef; }

.contacts__title { margin-bottom: 6px; font-weight: bold; }
.contacts__title i { display: inline-block; margin-right: 7px; }

.icon-pin { background: url('../img/icons-s01c95b3139.png') 0 -110px no-repeat; width: 11px; height: 14px; vertical-align: middle; }

.icon-clock { background: url('../img/icons-s01c95b3139.png') 0 -88px no-repeat; width: 12px; height: 12px; }

.slider { overflow: hidden; }

.slider__item { height: 434px; overflow: hidden; }

.pager { position: absolute; bottom: 29px; left: 44px; z-index: 300; }
.pager button { display: inline-block; position: relative; vertical-align: middle; margin-right: 15px; width: 12px; height: 12px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #3b3b3b; }
.pager button:before { content: ""; position: absolute; top: 50%; left: -15px; width: 15px; height: 1px; background: #3b3b3b; }
.pager button:first-child:before { display: none; }
.pager .is-active { background: #00adef; }

.range-cars { position: relative; z-index: 400; float: left; margin: -43px 0 0 20px; position: relative; height: 132px; }
.range-cars img { display: block; }
.range-cars .cars-list { visibility: hidden; position: absolute; bottom: 34px; left: 0; right: 0; }
.range-cars .cars-list a { height: 0; }
.range-cars .cars-list.is-active { visibility: visible; }
.range-cars .cars-list.is-active a { height: 75px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.range-cars__link { position: relative; display: block; padding: 0 12px 0 14px; background: white; height: 34px; color: #8c8c8c; font: normal 12px/34px "Georgia", Arial, sans-serif; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(1%, rgba(0, 0, 0, 0.15)), color-stop(99%, rgba(255, 255, 255, 0.15))); background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 1%, rgba(255, 255, 255, 0.15) 99%); background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 1%, rgba(255, 255, 255, 0.15) 99%); background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.15) 1%, rgba(255, 255, 255, 0.15) 99%); background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.15) 1%, rgba(255, 255, 255, 0.15) 99%); }
.range-cars__link:after { content: ""; position: absolute; top: 50%; right: 12px; margin-top: -9px; background: url('../img/icons-s01c95b3139.png') 0 -134px no-repeat; width: 16px; height: 17px; }

.cars-list a { display: block; padding: 18px 8px 0 10px; height: 75px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d9dadc)); background-image: -webkit-linear-gradient(#ffffff, #d9dadc); background-image: -moz-linear-gradient(#ffffff, #d9dadc); background-image: -o-linear-gradient(#ffffff, #d9dadc); background-image: linear-gradient(#ffffff, #d9dadc); font-size: 12px; color: #003366; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; white-space: nowrap; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.cars-list span, .cars-list img { display: inline-block; line-height: 1.2; vertical-align: top; }
.cars-list span { margin-right: 7px; width: 85px; white-space: normal; }

.article p { margin-bottom: 17px; }
.article ul { margin: 17px 0; }
.article li { position: relative; margin-bottom: 11px; padding-left: 21px; }
.article li:before { content: ""; position: absolute; left: 6px; top: 5px; width: 3px; height: 3px; background: #a8a8a8; }

.breadcrumbs { margin-bottom: 16px; }
.breadcrumbs a { display: inline-block; position: relative; margin-right: 19px; color: #9e9e9f; }
.breadcrumbs a:after { content: ""; position: absolute; right: -14px; top: 5px; background: url('../img/icons-s01c95b3139.png') 0 -161px no-repeat; width: 4px; height: 6px; }

.img img { max-width: 100%; height: auto; }

.h1 { margin: 32px 24px; font: normal 24px/1 "Georgia", Arial, sans-serif; }

.h2 { margin: 18px 0; font: normal 18px/1 "Georgia", Arial, sans-serif; }

.items-wrap { font-size: 0; }

.item { display: inline-block; width: 212px; margin: 0 0 24px 24px; vertical-align: top; overflow: hidden; }

.item__title { position: relative; display: block; margin-bottom: 8px; padding: 7px 19px; font-weight: bold; color: #003366; font-size: 11px; background: #eef0f2; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.item__title:before { content: ""; position: absolute; left: 7px; top: 50%; margin-top: -3px; background: url('../img/icons-s01c95b3139.png') 0 -177px no-repeat; width: 4px; height: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.item__title:hover { background: #80c8e3; color: white; }
.item__title:hover:before { background: url('../img/icons-s01c95b3139.png') 0 -209px no-repeat; width: 4px; height: 6px; }

.item__img { display: block; margin-bottom: 11px; width: 212px; height: 59px; }
.item__img img { max-width: 100%; height: auto; max-width: 100%; }

.item__descr { font-size: 12px; }

.nav-car { margin-bottom: 28px; }

.nav-car__item { display: block; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav-car__item > a { display: block; padding: 18px 8px 0 16px; height: 75px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #003366; white-space: nowrap; font-size: 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eff1f2)); background-image: -webkit-linear-gradient(#ffffff, #eff1f2); background-image: -moz-linear-gradient(#ffffff, #eff1f2); background-image: -o-linear-gradient(#ffffff, #eff1f2); background-image: linear-gradient(#ffffff, #eff1f2); text-transform: uppercase; }
.nav-car__item span, .nav-car__item img { display: inline-block; line-height: 1.2; vertical-align: top; }
.nav-car__item span { margin-right: 7px; width: 105px; white-space: normal; }

.nav-car__extend { display: none; border-top: 1px solid white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eff1f2), color-stop(100%, #edeff1)); background-image: -webkit-linear-gradient(#eff1f2, #edeff1); background-image: -moz-linear-gradient(#eff1f2, #edeff1); background-image: -o-linear-gradient(#eff1f2, #edeff1); background-image: linear-gradient(#eff1f2, #edeff1); }
.nav-car__extend a { display: block; border-bottom: 1px solid #d3d5d8; padding: 10px 16px; color: #666666; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav-car__extend a:hover { color: #00adef; }
.nav-car__extend a.is-active { color: #059bd4; font-weight: bold; }

.table th { padding: 15px 0 13px 17px; text-align: left; vertical-align: top; border-bottom: 2px solid #6e6e6e; }
.table td { padding: 25px 0 25px 17px; border-bottom: 1px solid #d5d7da; vertical-align: top; }
.table td:first-child { padding-left: 0; }
.table tr:nth-child(2n) td { background: #eef0f2; }

.table_col1 { padding-left: 8px; }

.table_col2 { width: 83px; }

.table_col3 { width: 146px; }

.table_col4 { width: 154px; }

.gallery { padding: 10px; margin-bottom: 42px; background: #edeff1; }

.gallery__img { overflow: hidden; height: 406px; line-height: 406px; text-align: center; margin-bottom: 16px; }
.gallery__img img { max-width: 100%; height: auto; vertical-align: middle; }

.gallery__bottom { *zoom: 1; }
.gallery__bottom:after { content: " "; display: table; clear: both; }

.gallery__preview { *zoom: 1; float: left; width: 355px; }
.gallery__preview:after { content: " "; display: table; clear: both; }
.gallery__preview a { float: left; margin: 0 14px 14px 0; width: 103px; height: 60px; line-height: 60px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.gallery__preview a img { max-width: 100%; max-height: 100%; height: auto; vertical-align: middle; }
.gallery__preview .is-active { -webkit-box-shadow: 0 0 0 1px #059bd4; -moz-box-shadow: 0 0 0 1px #059bd4; box-shadow: 0 0 0 1px #059bd4; }

.gallery__price { float: right; }
.gallery__price span { display: inline-block; vertical-align: middle; margin-right: 17px; }
.gallery__price .price { vertical-align: middle; }

.table-simple tr:nth-child(2n+1) { background: #eef0f2; }
.table-simple td { padding: 7px 30px; border-bottom: 0; vertical-align: middle; border-left: 3px solid white; width: 50%; }
.table-simple td:first-child { font-weight: bold; padding: 5px 30px; border-left: 0; }

.post { overflow: hidden; }

.post__title { display: inline-block; margin-bottom: 5px; font-size: 12px; font-weight: bold; color: #666666; }

.post__descr { margin: 8px 0 10px; }

.l-cols { *zoom: 1; }
.l-cols:after { content: " "; display: table; clear: both; }
.l-cols .l-col1 { float: left; width: 270px; }
.l-cols .l-col2 { float: left; margin-left: 30px; width: 410px; }
.l-cols .l-col3 { float: right; width: 190px; }

.sidebar { float: left; margin-right: 20px; padding-top: 28px; width: 212px; }

.main-col { overflow: hidden; }
